{% extends "base.html" %}

{% block content %}

<h2> Recipe Maker Instructions </h2>

<ul> 
    <li> First: Log in to Recipe Maker using your user login information. </li>
    <li> Second: Use the links to <b>"New Ingredient"</b> to input some ingredients. <br>
    View these ingredients in the <b>"Ingredients List"</b>.</l1>
    <li> Third: Use the link to <b>"New Recipe"</b> to create a new recipe. <br>
    If you are in the <b>"Ingredients List"</b>, click <b>"Recipes List"</b> THEN <b>"New Recipe"</b>.</li>
    <li> Fourth: Use the link to <b>"Recipes List"</b> to find your created recipes.</li>
    <br>
    <h4> Changing Ingredient Information </h4>
    <ul>
        <li> First: Go to the <b>"Ingredients List"</b>. </li>
        <li> Second: Click an ingredient name. </li>
        <li> Third: Click <b>"Update Ingredient"</b> </li>
        <li> Fourth: Update the ingredient's name information, click <b>"Save"</b> to save.</li>
    </ul>
    <br>
    <h4> Changing Recipe Information </h4>
    <ul>
        <li> First: Go to the <b>"Recipes List"</b>. </li>
        <li> Second: Click a recipe name. </li>
        <li> Third: Click <b>"Update Recipe"</b> </li>
        <li> Fourth: Update the recipes's name, ingredients, food description, or the recipe directions, and then click <b>"Save"</b> to save.</li>
    </ul>
    <br>
    <h4> Deleting an Ingredient or Recipe </h4>
    <ul>
        <li> First: Go to either the <b>"Ingredients List"</b> or <b>"Recipes List"</b></li>
        <li> Second: Click on the ingredient or recipe you wish to delete. </li>
        <li> Third: Click <b>"Delete Ingredient"</b> or <b>"Delete Recipe"</b>, whichever applies.</li>
        <li> Fourth: Click <b>"Confirm"</b> to confirm deletion.</li>
    </ul>



</ul>

{% endblock content %}