{% extends "base.html" %}
{% load django_vite %}
{% block head %}
    <script type="text/javascript">
        ext_csrf_token="{{csrf_token}}"; 
        ext_ingredient_list = "{{ ingredient_list | safe }}";
    </script>
{% endblock head%}
{% block content %}
<a href="{% url 'recipes:recipe_list' %}">Recipes list</a><br/>
<a href="{% url 'recipes:ingredient_create' %}">New Ingredient</a><br/>
    <div id="appcreate">
        <div token="{{csrf_token}}"></div>
        <appcreate></appcreate>
    </div>
{% endblock content %}

{% block js %}
    {{ block.super }}
    <script>
        var ext_csrf_token = "{{ csrf_token }}"
        var ext_ingredient_list = {{ ingredient_list | safe }}
    </script>
    {% vite_hmr_client %}
    {% vite_asset 'src/apps/recipe_create/recipe_create.js' %} 
{% endblock js %}